.customSize{
    font-size: 1.02em;
}
.brand-card-header{
    height:7.5rem
}
.storeArrr:hover{
    cursor: pointer;
}
.cHead{
    font-size: 2.2em;
}
.storeArrr{
    font-size: 1.3em;
}
.list-group-flush > .list-group-item:hover{
    cursor: pointer;
}