<nav class="header_area">
    <div class="custom_container">
        <div class="nav-wrapper">
            <a class="brand-logo d-none d-md-block"><img src="assets/img/brand/sygnet.svg" class="logoImg" /></a>
            <a style="margin-left: 40px;" class="brand-logo d-block d-sm-none"><img src="assets/img/brand/sygnet.svg"
                    class="logoImg" /></a>
            <a href="" class="button-collapse" (click)="openNav($event)">
                <i class="fa fa-bars"></i></a>
            <ul class="left_menu hide-on-med-and-down">
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/stores" routerLinkActive="active">Stores</a></li>
                <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
                <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
            </ul>
            <ul class="right right_menu hide-on-med-and-down">
                <li class="search_min">
                    <ul class="search_from">
                        <li class="notifications follow">
                            <input (input)="searchFunc(searchBox)" (focus)="switch=true" (focusout)="focusOutFunc()"
                                [(ngModel)]="searchBox" placeholder="Search By Brand Name Or Website" type="text">
                            <div class="dropdown-menu" style="width: 350px;" *ngIf="searchBox && switch">
                                <table class="table table-responsive-sm table-hover table-outline mb-0">
                                    <tbody>
                                        <tr>
                                            <div class="text-center" *ngIf="!storeArray && !noResult">
                                                <div class="lds-ripple">
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div class="text-center" *ngIf="noResult">
                                                <br>
                                                No result found for "{{searchBox}}"
                                                <br>
                                                <br>
                                            </div>
                                        </tr>
                                        <tr *ngFor="let store of storeArray | keyvalue">
                                            <td class="text-center" [routerLink]="['/store', store.value._id]">
                                                <div class="avatar">
                                                    <img [src]="store.value.img" class="rounded-circle">
                                                </div>
                                            </td>
                                            <td [routerLink]="['/store', store.value._id]">
                                                <div>{{store.value.name}}</div>
                                                <div class="small text-muted">
                                                    <span>Store</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li><a class="search_icon"><i class="icon-magnifier"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>