<div>
    <h1 class="cHead text-center">Top Stores</h1>
    <div style="font-size: 1.2em !important;margin-top: 10px;">
        <div class="alert alert-danger alert-dismissible fade show col-lg-8" *ngIf="responseError" role="alert">
            {{responseError}}
            <button type="button" class="close" (click)="closeError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-2 col-xs-12" *ngFor="let store of storeArray | keyvalue"
                [routerLink]="['/store', store.value._id]">
                <img [src]="store.value.img" alt="">
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid">
            <p>Wanneer mensen groot denken en proberen de oplossingen voor hun problemen te vinden die zich voordoen
                waar hun behoeften zijn, dat is dezelfde plaats waar nieuwe manieren ontstaan. Online winkelen is
                tegenwoordig de
                beste manier zorg voor de behoeften van de mensen op alle mogelijke manieren. Er zijn veel winkels
                over de hele wereld die het proberen om hun klanten het maximale comfortniveau te bieden. Australië is
                een van de regio's waar mensen zijn bewustwording en proberen hun best te doen voor al die trends in de
                moderne wereld waardeert.
                <br>
                <br>
                Super Saver Mama werkt samen met alle topwinkels in Australië om de top te behalen notch producten voor
                de mensen uit het hele land en de wereld op dit ene platform. Deze
                zijn populair winkels zijn de bron van gemak en gemak voor de klanten door kortingen & aanbiedingen.
                Voor ons is kwaliteit het beste plan, samen met markdown.
                <br>
                <br>
            </p>
        </div>
    </div>
</div>