<div class='container-fluid' style="padding-left: 0 !important;padding-right: 0 !important;">
    <div id="phatig" class="owl-carousel owl-theme text-center firstOwl">
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[0].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[0].activeStatus"
                        (click)="openModal(template,dealsArray[0])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[0].activeStatus"
                        (click)="openModal2(template2,dealsArray[0])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[1].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[1].activeStatus"
                        (click)="openModal(template,dealsArray[1])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[1].activeStatus"
                        (click)="openModal2(template2,dealsArray[1])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[2].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[2].activeStatus"
                        (click)="openModal(template,dealsArray[2])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[2].activeStatus"
                        (click)="openModal2(template2,dealsArray[2])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[3].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[3].activeStatus"
                        (click)="openModal(template,dealsArray[3])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[3].activeStatus"
                        (click)="openModal2(template2,dealsArray[3])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[4].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[4].activeStatus"
                        (click)="openModal(template,dealsArray[4])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[4].activeStatus"
                        (click)="openModal2(template2,dealsArray[4])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[5].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[5].activeStatus"
                        (click)="openModal(template,dealsArray[5])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[5].activeStatus"
                        (click)="openModal2(template2,dealsArray[5])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[6].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[6].activeStatus"
                        (click)="openModal(template,dealsArray[6])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[6].activeStatus"
                        (click)="openModal2(template2,dealsArray[6])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[0].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[0].activeStatus"
                        (click)="openModal(template,dealsArray[0])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[0].activeStatus"
                        (click)="openModal2(template2,dealsArray[0])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
        <div class="item" data-merege="1">
            <div class="card">
                <img src="../../assets/img/post.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Deal Box</h5>
                    <p class="card-text">{{dealsArray[1].offerBox | slice:0:35}}</p>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="dealsArray[1].activeStatus"
                        (click)="openModal(template,dealsArray[1])">Deal krijgen</a>
                    <a href="javascript: void(0)" class="btn btn-block btn-lg" *ngIf="!dealsArray[1].activeStatus"
                        (click)="openModal2(template2,dealsArray[1])">CODE KOPIËREN</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <img src="../../assets/images/NLbanner.jpg" style="width: 100%">
</div>
<br>
<br>
<div class="container-fluid text-center" style="padding-left: 0 !important;padding-right: 0 !important;">
    <h3>TOP AANBIEDINGEN</h3>
    <div id="phatig2" class="owl-carousel owl-theme text-center scndOwl">
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[0].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[0].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[0]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[1].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[1].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[1]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[2].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[2].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[2]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[3].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[3].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[3]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[4].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[4].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[4]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[5].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[5].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[5]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[6].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[0].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[6]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[0].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[0].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[0]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
        <div class="item" data-merge="1">
            <div class="card">
                <img [src]="blogArray[1].img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">{{blogArray[1].title | slice:0:30}}</p>
                    <a href="" class="btn btn-block btn-lg pull-left" [routerLink]="['/blog', blogArray[1]._id]">bezoek
                        blog </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header">
                <img src="../../assets/img/post-2.jpg" style="width: 100%;height: 100%;">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">89k</div>
                    <div class="text-uppercase text-muted small">friends</div>
                </div>
                <div>
                    <div class="text-value">359</div>
                    <div class="text-uppercase text-muted small">feeds</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header">
                <img src="../../assets/img/post-4.jpg" style="width: 100%;height: 100%;">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">89k</div>
                    <div class="text-uppercase text-muted small">friends</div>
                </div>
                <div>
                    <div class="text-value">359</div>
                    <div class="text-uppercase text-muted small">feeds</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header">
                <img src="../../assets/img/post-3.jpg" style="width: 100%;height: 100%;">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">89k</div>
                    <div class="text-uppercase text-muted small">friends</div>
                </div>
                <div>
                    <div class="text-value">359</div>
                    <div class="text-uppercase text-muted small">feeds</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header">
                <img src="../../assets/img/post-2.jpg" style="width: 100%;height: 100%;">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">89k</div>
                    <div class="text-uppercase text-muted small">friends</div>
                </div>
                <div>
                    <div class="text-value">359</div>
                    <div class="text-uppercase text-muted small">feeds</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2>TOP BOVENKATEN</h2>
    <div class="text-center" *ngIf="!storeNames">
        <div class="spinner-grow text-info m-5" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 p_content" *ngFor="let sName of storeNames | keyvalue"
            [routerLink]="['/store', sName.value._id]">
            <a href="javascript: void(0)">{{sName.value.name}}</a>
        </div>
    </div>
</div>
<br>
<br>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Coupon: <span>{{editObj.offerBox}}</span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span style="font-size: 1.5em;">No code required</span><br><br>
        <button type="button" class="btn btn-success" (click)="window.open(editObj.trackingLink)">
            Shop Now
        </button>
        <br>
        <br>
        <span>*No code required. Just click the above button to avail this deal</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>
<ng-template #template2>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Coupon: <span>{{editObj.offerBox}}</span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span style="font-size: 1.5em;">Here is the code</span><br><br>
        <div class="template2">
            {{editObj.code}}
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="copyClipboardFunc()">
            <span *ngIf="!codeCopied">Copy code & Visit Store</span>
            <span *ngIf="codeCopied">Code Copied</span>
        </button>
        <br>
        <br>
        <span>Copy this code and paste it at checkout</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>
<input id='copyfrom' [(ngModel)]="hiddenInput" tabindex='-1' aria-hidden='true'>